.property-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
  font-weight: bold;
  font-size: 15px;
  .home-icon {
    color: #757070;
  }
  button {
    margin-top: 5px;
    display: none;
  }
  &.card-active {
    button {
      display: initial;
    }
  }

  .property-card__header {
    background-color: #ccc;
    padding: 5px;
  }

  .property-card__body {
    padding: 25px;
  }
}
