.property-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
  padding-bottom: 5px;
  .home-icon {
    color: #ddd;
  }
  button {
    display: none;
  }
  &.card-active {
    button {
      display: initial;
    }
  }
}

.property-card__header {
  background-color: #ccc;
}