.property-detail {
  font-weight: bold;
  .property-detail__header {
    display: flex;
    .agency-logo {
      float: left;
    }
  }
  .property-detail__body {
    height: 200px;
    width: 260px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .property-detail__footer {
    font-size: 18px;
    padding: 15px 10px;
    text-align: left;
  }
}
